*{
    margin: 0px;
    padding: 0px;
}

.about-recipies{
    width: 85%;
    margin: auto;
    display:flex;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
}

.search-filter{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-btn{
    padding: 15px;
    cursor: pointer;
}

.b1{
    background-color: rgb(215, 150, 11);
    border: none;
    color: white;
}
.b2{
    background-color: rgb(188, 237, 11);
    border: none;
    color: white;
}
.b3{
    background-color: rgb(215, 76, 11);
    border: none;
    color: white;
}

.search-bar{
    width: 100%;
    h1{
        padding-bottom: 10px;
    }
}

#search-btn{
    width: 7%;
    padding: 10px;
    margin-left: 5px;
}

#search-input{
    width: 90%;
    padding: 10px;
}

#card-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; */

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.card{
    width: 300px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-message-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-message{
    display: flex;
    align-items: center;
    gap: 5px;
}

.message{
    color: yellow;
    cursor: pointer;
}

.like{
    /* border: 1px solid red; */
    color: red;
    cursor: pointer;
}

#recipe-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 4fr 10fr;
}
